{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}

ext_pillar:
{%- if grains['saltversioninfo'] < (2015, 8, 0, 0) %}
  {%- for repo in git_ext_pillar %}
  - git: {{ repo }}
  {%- endfor %}
{%- else %}
  - git:
  {%- for repo in git_ext_pillar %}
    - {{ repo }}
  {%- endfor %}
{%- endif %}
{%- if accumulator|default(False) -%}
  {%- if 'ext_pillar' in accumulator -%}
    {%- for line in accumulator['ext_pillar'] %}
{{ line | indent(2, indentfirst=True) }}
    {%- endfor -%}
  {%- endif -%}
{%- endif %}
