# {{ salt['pillar.get']('message_do_not_modify') }}

.level = {% if debug %}FINEST{% else %}WARNING{% endif %}

{%- set sentry_dsn = salt['pillar.get']('sentry_dsn', False) %}
handlers = java.util.logging.ConsoleHandler, com.agafua.syslog.SyslogHandler{% if sentry_dsn %}, net.kencochrane.raven.jul.SentryHandler

net.kencochrane.raven.jul.SentryHandler.dsn={{ sentry_dsn }}
net.kencochrane.raven.jul.SentryHandler.tags=minion_id:{{ grains['id'] }}{% endif %}

java.util.logging.ConsoleHandler.level = WARNING
java.util.logging.ConsoleHandler.formatter = java.util.logging.SimpleFormatter
java.util.logging.SimpleFormatter.format = %6$s

com.agafua.syslog.SyslogHandler.transport = udp
com.agafua.syslog.SyslogHandler.level = {% if debug %}FINEST{% else %}WARNING{% endif %}
com.agafua.syslog.SyslogHandler.facility = local0
com.agafua.syslog.SyslogHandler.port = 514
com.agafua.syslog.SyslogHandler.hostname = 127.0.0.1
