{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream php {
    server unix:/var/run/php5-fpm.sock;
}
{%- endblock %}

{%- block root_location %}
{%- set timeout = salt['pillar.get']('roundcube:timeout', 60) %}
{%- for dir in ('skins',) %}
    location /{{ dir }}/ {
        expires max;
        autoindex off;
    }
{%- endfor %}

    index index.php index.html index.htm;
    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~ \.php$ {
        gzip off;

        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include        fastcgi_params;
        fastcgi_index index.php;
        fastcgi_pass   php;
    }

    location ~ ^/?(\.git|\.tx|SQL|bin|config|logs|temp|tests|program\/(include|lib|localization|steps)) {
        return 403;
    }

    location ~ /?(README\.md|CHANGELOG|INSTALL|LICENSE|UPGRADING)$ {
        return 403;
    }

    location /favicon {
        rewrite ^/favicon\.ico$ /skins/larry/images/favicon.ico;
    }
{%- endblock %}
