{%- set files_archive = salt['pillar.get']('files_archive', False)|default("https://archive.robotinfra.com/") %}
{% set postgresql = {
    "version": "9.4",
    "repo_configs": {
      "9.4": {
        "repo": "deb " ~ files_archive|replace('https://', 'http://') ~ "/mirror/postgresql/9.4.5-1 " ~ grains['oscodename'] ~ "-pgdg  main",
        "key": "key-9.4.gpg",
        "unix_socket_dir_var": "unix_socket_directories",
      },
    },
  }
%}
