#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Use of this is governed by a license that can be found in doc/license.rst.

set -e
export TERM=dumb

find /var/lib/backup/ -maxdepth 2 -type f \( -name '*.xz' -or -name '*.gz' -or -name '*.tar' \) -mtime +{{ salt['pillar.get']('backup:ssh:daily_max_age', 7) }} -delete
find /var/lib/backup/ -path '/var/lib/backup/*/weekly/*' -type f \( -name '*.xz' -or -name '*.gz' -or -name '*.tar' \) -mtime +{{ salt['pillar.get']('backup:ssh:weekly_max_age', 30) }} -delete
find /var/lib/backup/ -path '/var/lib/backup/*/monthly/*' -type f \( -name '*.xz' -or -name '*.gz' -or -name '*.tar' \) -mtime +{{ salt['pillar.get']('backup:ssh:monthly_max_age', 90) }} -delete
