#!/bin/bash
# {{ salt['pillar.get']('message_do_not_modify') }}
# Use of this is governed by a license that can be found in doc/license.rst.

set -e
export TERM=dumb

{#- Do not preserve permission as it also change the permission of /var/lib/backup
which need to be in 775 for the monitoring check (run as non-root) to read some files #}
{%- set ip_port = salt['pillar.get']('backup:replicate:source').split(':') %}
{%- set port = ip_port[1] if ip_port|count == 2 else 22 %}
rsync -e 'ssh -p {{ port }}' --archive --no-owner --no-group --no-perms --quiet --exclude ".*" --ignore-missing-args root@{{ ip_port[0] }}:/var/lib/backup/ /var/lib/backup/
