{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set files_archive = salt['pillar.get']('files_archive', False) %}
# {{ salt['pillar.get']('message_do_not_modify') }}
BeautifulSoup==3.2.1
Django==1.6.10
Markdown==2.4.1
Pygments==1.6
PyYAML==3.11
South==1.0.1
amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.22
celery==3.1.18
cffi==0.9.1
click==6.2
cryptography==0.8
cssselect==0.9.1
cssutils==0.9.10
django-bitfield==1.7.1
django-celery==3.0.23
django-crispy-forms==1.4.0
django-debug-toolbar==1.3.2
django-jsonfield==0.9.13
django-paging==0.2.5
django-picklefield==0.3.1
django-recaptcha==1.0.5
django-social-auth==0.7.28
django-statsd-mozilla==0.3.8.7
django-sudo==1.2.0
django-templatetag-sugar==1.0
djangorestframework==2.3.14
email-reply-parser==0.2.0
enum34==0.9.23
exam==0.10.5
gunicorn==19.3.0
hiredis==0.1.6
httplib2==0.9
ipaddr==2.1.11
kombu==3.0.30
logan==0.5.10
lxml==3.4.2
mock==1.0.1
ndg-httpsclient==0.3.3
nydus==0.10.8
oauth2==1.5.211
petname==1.7
progressbar==2.3
psycopg2==2.6.1
py==1.4.26
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
pytest-django==2.9.1
pytest==2.6.4
python-dateutil==2.4.2
python-memcached==1.53
python-openid==2.2.5
pytz==2014.10
raven==5.27.1
rb==1.4
redis==2.10.3
requests==2.9.1
sentry==8.4.0
setproctitle==1.1.8
setuptools_scm==1.8.0
simplejson==3.3.3
six==1.9.0
sqlparse==0.1.18
statsd==3.1.0
toronado==0.0.6
ua-parser==0.6.1
urllib3==1.14
uwsgi==2.0.12
wsgiref==0.1.2
{%- if files_archive %}
django-insecure==0.2
sentry-xmpp==0.0.1
pysc==0.3.20
{%- else %}
https://github.com/bclermont/django-insecure/archive/v0.2.tar.gz
http://archive.robotinfra.com/pip/sentry-xmpp-0.0.1.tar.bz2
http://archive.robotinfra.com/pip/pysc-0.3.20.tar.bz2
{%- endif %}
{%- if salt['pillar.get']('graylog2_address', False) %}
graypy==0.2.9
{%- endif %}
{%- set smtp = salt['pillar.get']('sentry:smtp', False)|default(salt['pillar.get']('smtp'), boolean=True) -%}
{%- if smtp['encryption']|default('plain') == 'ssl' %}
django-smtp-ssl==1.0
{%- endif %}
dnspython==1.12.0
psutil==2.1.3
sentry-slack==0.4.0
sentry-youtrack==0.3.1
