{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}
# Last Modified: Fri Jun 17 09:04:54 2016
#include <tunables/global>

/usr/sbin/nginx flags=(complain) {
  #include <abstractions/apache2-common>
  #include <abstractions/base>
  #include <abstractions/dovecot-common>
  #include <abstractions/nis>


  capability net_bind_service,
  capability setgid,
  capability setuid,

  /etc/nginx/conf.d/ r,
  /etc/nginx/conf.d/*.conf r,
  /etc/nginx/nginx.conf r,
  /etc/ssl/openssl.cnf r,
  /run/nginx.pid rw,
  /usr/sbin/nginx mr,
  /var/log/nginx/error.log ra,
  /var/cache/nginx/* w,

}
