{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

apt_cache_procs:
  description: Apt Cache Daemon
  command: '/usr/lib/nagios/plugins/check_procs -c 1:1 -C apt-cacher-ng -u apt-cacher-ng'

{%- set timeout = 30 %}
apt_cache_port:
  description: Apt Cache TCP Port
  timeout: {{ timeout }}
  command: /usr/lib/nagios/plugins/check_tcp -H 127.0.0.1 -p 3142 -t {{ timeout }}
  dependencies:
    - apt_cache_procs

apt_cache_port_ipv6:
  description: Apt Cache TCP Port IPv6
  timeout: {{ timeout }}
  command: /usr/lib/nagios/plugins/check_tcp -H ::1 -p 3142 -t {{ timeout }}
  dependencies:
    - apt_cache_procs

{#- this does not check against / as it will return 404 (by designed), coz we don't want those messages in log #}
{{ nginx_instance('apt_cache', http_uri='/style.css', extra_dependencies=('apt_cache_port',), http_result="200 OK", https_result="200 OK") }}
