{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
s3.keyid: {{ salt['pillar.get']('salt:s3:keyid', None) }}
s3.key: {{ salt['pillar.get']('salt:s3:key', None) }}
