{%- set ssl = salt["pillar.get"]("webdav:ssl", False) %}

daemon:
  root: /var/lib/webdav
  realm: devcats
  server:
    https:
      address: 0.0.0.0
      port: "1443"
      certificate: |-
        {{ salt['pillar.get']('ssl:certs:' + ssl + ':server_crt')|indent(8, indentfirst=False) }}
        {{ salt['pillar.get']('ssl:certs:' + ssl + ':ca_crt')|indent(8, indentfirst=False) }}
      key: |-
        {{ salt['pillar.get']('ssl:certs:' + ssl + ':server_key')|indent(8, indentfirst=False) }}
      server_name: {{ salt["pillar.get"]("webdav:server_name") }}
      timeout: 0
  {%- for username, hash in salt['pillar.get']('webdav:users', {}).iteritems() %}
    {%- if loop.index0 == 0 %}
  users:
    {%- endif %}
    - username: {{ username }}
      hash: {{ hash }}
  {%- endfor %}
