{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- from 'uwsgi/nrpe/instance.jinja2' import uwsgi_instance with context -%}
{%- from 'nginx/nrpe/instance.jinja2' import nginx_instance with context -%}
{%- from 'nrpe/passive.jinja2' import passive_interval with context -%}
{%- from 'postgresql/server/nrpe/instance.jinja2' import postgresql_instance with context -%}
{%- set deployment = 'taiga' -%}

# {{ salt['pillar.get']('message_do_not_modify') }}

{{ uwsgi_instance(deployment) }}
{{ postgresql_instance(deployment, deployment, salt['password.pillar'](deployment ~ ':db:password', 10)) }}
{{ nginx_instance(deployment, http_uri='/login/', extra_dependencies=('taiga_uwsgi_worker', 'taiga_postgresql')) }}
