{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}

{% block start_stop_on %}
start on (net-device-up
          and local-filesystems
          and runlevel [2345]
          and started rsyslog)
stop on runlevel [!2345]
{%- endblock start_stop_on %}

respawn

env PIDFILE="/var/run/openvpn/{{ instance }}.pid"

pre-start script
    if [ ! -e /var/run/openvpn ]; then
        mkdir -m 0770 /var/run/openvpn
        chown nobody:nogroup /var/run/openvpn
    fi
end script

exec /usr/sbin/openvpn --config /etc/openvpn/{{ instance }}/config

pre-stop script
    kill -15 $(cat $PIDFILE)
    sleep 1
    if [ "$?" -eq 0 ]; then
        rm -f $PIDFILE
    else
        echo "Unable to stop openvpn-{{ instance }}"
    fi
end script
{% block additional %}
{% endblock additional %}
