{#- Usage of this is governed by a license that can be found in doc/license.rst -#}
# {{ salt['pillar.get']('message_do_not_modify') }}
# Last Modified: Fri Jun 17 09:02:44 2016
#include <tunables/global>

/usr/sbin/pptpd flags=(complain) {
  #include <abstractions/apache2-common>
  #include <abstractions/base>

  /etc/pptpd.conf r,
  /run/pptpd.pid w,
  /usr/sbin/pptpd mr,

}
