{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

# {{ salt['pillar.get']('message_do_not_modify') }}
{%- set python_version = '%d.%d' % (grains['pythonversion'][0], grains['pythonversion'][1]) %}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream taiga {
    server unix:///var/lib/uwsgi/taiga.sock;
}
{%- endblock %}

{%- block root_location %}
{%- set timeout = salt['pillar.get']('taiga:timeout', 60) %}

    large_client_header_buffers 4 32k;
    client_max_body_size 50M;
    charset utf-8;

    location /media/ {
        expires max;
        autoindex off;
    }

    location / {
        root /usr/local/taiga/taiga-front-dist-1.9.1-stable/dist/;
        try_files $uri $uri/ /index.html;
    }

    location /api {
        uwsgi_pass taiga;
        include uwsgi_params;
        uwsgi_read_timeout {{ timeout }};
        uwsgi_send_timeout {{ timeout }};
    }

    location /admin {
        uwsgi_pass taiga;
        include uwsgi_params;
        uwsgi_read_timeout {{ timeout }};
        uwsgi_send_timeout {{ timeout }};
    }

{%- endblock %}
