{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{%- set files_archive = salt['pillar.get']('files_archive', False) %}
# {{ salt['pillar.get']('message_do_not_modify') }}
{%- if salt['pillar.get']('graylog2_address', False) %}
graypy==0.2.12
{%- endif %}
django-smtp-ssl==1.0
python-memcached==1.57
{%- if salt['pillar.get']('graphite_address', False) %}
django-statsd-mozilla==0.3.8.7
{%- endif -%}
