{#- Usage of this is governed by a license that can be found in doc/license.rst -#}

{% extends "nginx/template.jinja2" %}
{%- block upstream %}
upstream syncthing {
  server 127.0.0.1:8384;
}
{%- endblock %}

{%- block root_location %}
    location / {
        proxy_pass http://syncthing;
    }
{%- endblock %}
